@import 'normalize';
@import 'mixins';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);

@media all
{
	html, body
	{
		width: 100% ;
		color: #303030 ;
	}

	header #title
	{
		display: table ;
		margin: 40px auto 0 ;
		font-family: 'Open Sans', sans-serif ;
		font-size: 69px ;
		font-weight: 300 ;
		letter-spacing: 4px ;
		text-transform: uppercase ;
		color: #E4E9ED ;
	}

	header #tag
	{
		display: table ;
		margin: -20px auto 40px ;
		font-family: 'Open Sans', sans-serif ;
		font-size: 19px ;
		color: #C8D3DB ;
	}

	h2
	{
		margin: 0 ;
	}

	section
	{
		padding: 50px 0 ;
		width: 700px ;
		margin: auto ;
		clear: both ;
	}

	article
	{
		font-family: 'Open Sans', serif ;
		clear: both ;
		margin-bottom: 10px ;
	}

	.article-meta 
	{
		text-transform: uppercase ;
		color: #A1A1A1 ;
		font-size: 12px ;
	}

	article > h2
	{
		font-size: 57px ;
		font-weight: 700 ;
		letter-spacing: -0.04em ;
		line-height: 1em ;
		margin-left: -2px ;
		margin-bottom: 35px ;
		color: #222222 ;
	}

	article > p
	{
		font-family: 'PT Serif', serif ;
		font-weight: 400 ;
		font-size: 21px ;
		line-height: 35px ;
		color: #2E2E2E ;

	}
}

@media (max-width: 800px)
{
	section
	{
		width: 500px ;
	}

	article > h2
	{
		font-size: 35px ;
	}
}

@media (max-width: 570px)
{
	header #title
	{
		font-size: 40px ;
		letter-spacing: 4px ;
	}

	header #tag
	{
		margin-top: -10px ;
		font-size: 14px ;
	}

	section
	{
		width: auto ;
		padding: 30px ;
	}

	article > h2
	{
		font-size: 24px ;
	}

	article > p
	{
		font-size: 18px ;
		line-height: 30px ;
	}
}

@media (max-width: 450px)
{
	section
	{
		width: auto ;
		padding: 10px ;
	}

	article > p
	{
		font-size: 16px ;
		line-height: 24px ;
	}
}